<span>BIenvenue sur le site de {{ title }} !</span>
<app-menu></app-menu>
<app-create-onomatopoeia 
  (sendOnomatopoeiaToParent)="onReceiveOnomatopoeia($event)"></app-create-onomatopoeia>
<ul>
    <li *ngFor="let words of onomatopoeiaList">
        {{words}}
    </li>
</ul>


<router-outlet></router-outlet>

<!-- 
<div class="block_parent">
    <div class="block_1">
        <app-block></app-block>
        <app-block></app-block>
    </div>
    <div class="block_2">
        <app-block></app-block>
        <app-block></app-block>
    </div>  
</div>
<app-directives></app-directives>  -->

